<article class="widget">
<div class="widget-title">
    <p>Access other sites in the TED family</p>
  </div>
  <div class="links">
    <a href="https://enotices2.ted.europa.eu/" target="_blank">eNotices2</a>
    <a href="https://developer.ted.europa.eu/" target="_blank">TED Developer Portal</a>
    <a href="https://ted.europa.eu/" target="_blank">TED Website</a>
    {{!-- <a href="#">Link 3</a> --}}
  </div>
</article>
